.App {
  text-align: center;
  background-image: url('./img/푸른산.jpg'); /* 이미지 경로는 프로젝트 구조에 따라 달라질 수 있음 */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh; /* 뷰포트 높이에 맞춰 최소 높이 설정 */
  width: 100%;
  
}

